Source: cubical
Section: python
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>= 11),
 dh-python,
 python3-setuptools,
 python3-all,
 python3-six,
 python3-numpy,
 python3-scipy,
 python3-psutil,
 python3-future
Standards-Version: 4.4.1
Homepage: https://github.com/ratt-ru/CubiCal
Vcs-Browser: https://github.com/kernsuite-debian/cubical
Vcs-Git: https://github.com/kernsuite-debian/cubical

Package: python3-cubical
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
 python3-astropy,
 python3-future,
 python3-numba,
 python3-casacore,
 python3-sharedarray,
 python3-matplotlib,
 python3-astro-tigger-lsm 
Suggests: python-cubical-doc
Description: A fast radio interferometric calibration suite. (Python 3)
 CubiCal is a suite of fast radio interferometric calibration routines
 exploiting complex optimisation.
 .
 This package installs the library for Python 3.

Package: cubical
Architecture: all
Depends: python3-cubical
Description: A fast radio interferometric calibration suite. (Python 3)
 CubiCal is a suite of fast radio interferometric calibration routines
 exploiting complex optimisation.
